
.timeline-image svg {
	width: 100%;
	height: 100%;
}

/* SVG PENCIL */

#pencil-ruler {
  display: block;
/*  height: 250px;
  margin: 20px auto;
  width: 250px;*/
}

.pencil {
  -webkit-animation: pencil 2s linear infinite;
          animation: pencil 2s linear infinite;
  -webkit-transform-origin: 75% 98%;
      -ms-transform-origin: 75% 98%;
          transform-origin: 75% 98%;
}
.pencil .pencil-shadow {
  -webkit-animation: pencil-shadow 2s linear inifinite;
          animation: pencil-shadow 2s linear inifinite;
  opacity: 1;
}

.ruler {
  -webkit-animation: ruler 2s linear infinite;
          animation: ruler 2s linear infinite;
  -webkit-transform-origin: 30% 75%;
      -ms-transform-origin: 30% 75%;
          transform-origin: 30% 75%;
}

@-webkit-keyframes pencil {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 70% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes pencil {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 70% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes pencil-shadow {
  0%, 20% {
    opacity: 0 !important;
  }
  50%, 70% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}
@keyframes pencil-shadow {
  0%, 20% {
    opacity: 0 !important;
  }
  50%, 70% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}
@-webkit-keyframes ruler {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 70% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes ruler {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 70% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* END SVG PENCIL */

/* SVG FIRE */

.contain-fire {
  position: relative;
  text-align: center;
}

/* END SVG FIRE */

/* SVG CAT */


#cat {
  max-width: 300px;
  margin: 0 auto;
}

#cauda {
  width: 72px;
  height: 79px;
  -moz-animation: cauda 6s linear infinite;
  -webkit-animation: cauda 6s linear infinite;
  animation: cauda 6s linear infinite;
  -moz-transform-origin: 80% 80%;
  -ms-transform-origin: 80% 80%;
  -webkit-transform-origin: 80% 80%;
  transform-origin: 80% 80%;
}

@-moz-keyframes cauda {
  0% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes cauda {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes cauda {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/* END SVG CAT */

.timeline-image-dark {
	background-color: #333!important;
}

.i-lightbulb-light {
  fill:none;
  stroke:#000000;
  stroke-width:32;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.i-lightbulb-screws * {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.i-lightbulb-light * {
  stroke-width: 16;
  stroke: #ddd;
}

.i-lightbulb-base {
  fill: #666;
}

.i-lightbulb-screws * {
  stroke-width: 16;
  stroke: #eee;
}

.i-lightbulb-light * {
  -webkit-animation: .5s i alternate infinite;
}

@-webkit-keyframes i {
  100% {
    stroke: #fc0;
    stroke-width: 32;
  }
}



/* PArallax */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}


/**/

.skillbar section
{
	float:left;
	margin-left:10px;
	width:100px;
  border-radius:5px;
}
.skillbar section:hover{cursor:pointer;}
ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.skillbar li
{
	margin-bottom:2px;
	padding:5px;
	background:#ccc;
	position:relative;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
  border-radius:100px;
}
.skillbar ul li:last-child
{
	height:100px;
	background:#31333F;
	text-align:center;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skillbar section ul li:last-child{position:relative;}
.skillbar section:nth-child(1) ul li:nth-child(10){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(9){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(8){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(7){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(6){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(5){ background:#31333F;}
.skillbar section:nth-child(1) ul li:nth-child(4){ background:#31333F;}
.skillbar section:nth-child(2) ul li:nth-child(10){ background:#31333F;}
.skillbar section:nth-child(2) ul li:nth-child(9){ background:#31333F;}
.skillbar section:nth-child(2) ul li:nth-child(8){ background:#31333F;}
.skillbar section:nth-child(2) ul li:nth-child(7){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(10){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(9){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(8){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(7){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(6){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(5){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(4){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(3){ background:#31333F;}
.skillbar section:nth-child(3) ul li:nth-child(2){ background:#31333F;}
.skillbar section:nth-child(4) ul li:nth-child(10){ background:#31333F;}
.skillbar section:nth-child(4) ul li:nth-child(9){ background:#31333F;}
.skillbar section:nth-child(4) ul li:nth-child(8){ background:#31333F;}
.skillbar section:nth-child(4) ul li:nth-child(7){ background:#31333F;}
.skillbar section:nth-child(4) ul li:nth-child(6){ background:#31333F;}

.skillbar i{color:#fff; font-size:3em;position:relative;top:25px;display:block;	-webkit-transition:all 2s ease;	-moz-transition:all 2s ease;
	transition:all 2s ease;}
.skillbar section:nth-child(1):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skillbar section li:last-child:after
{
	position:absolute;
    display:block;
    left:22px;
	bottom:-0px;
	color:#31333F;
	z-index:-1;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;	
}
.skillbar section:nth-child(1) li:nth-child(11):after{content:"HTML5";}
.skillbar section:nth-child(2) li:nth-child(11):after{content:"CSS3";left:27px;}
.skillbar section:nth-child(3) li:nth-child(11):after{content:"Desktop";}
.skillbar section:nth-child(4) li:nth-child(11):after{content:"Mobile";left:27px;}
.skillbar section:hover li:last-child:after
{
	bottom:15px;
	z-index:1;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(11) {
	background:#E34C26;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	color:#31333F;
}
.skillbar section:nth-child(1):hover li:nth-child(10) {
	background:#E34C26;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(9) {
	background:#E34C26;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(8) {
	background:#E34C26;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(7) {
	background:#E34C26;
	-webkit-transition:all 2.5s ease;
	-moz-transition:all 2.5s ease;
	transition:all 2.5s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(6) {
	background:#E34C26;
	-webkit-transition:all 3s ease;
	-moz-transition:all 3s ease;
	transition:all 3s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(5) {
	background:#E34C26;
	-webkit-transition:all 3.5s ease;
	-moz-transition:all 3.5s ease;
	transition:all 3.5s ease;
}
.skillbar section:nth-child(1):hover li:nth-child(4) {
	background:#E34C26;
	-webkit-transition:all 4s ease;
	-moz-transition:all 4s ease;
	transition:all 4s ease;
}

.skillbar section:nth-child(2):hover li:nth-child(11) {
	background:#0092BF;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skillbar section:nth-child(2):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skillbar section:nth-child(2):hover li:nth-child(10) {
	background:#0092BF;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skillbar section:nth-child(2):hover li:nth-child(9) {
	background:#0092BF;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skillbar section:nth-child(2):hover li:nth-child(8) {
	background:#0092BF;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skillbar section:nth-child(2):hover li:nth-child(7) {background:#0092BF;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}

.skillbar section:nth-child(3):hover li:nth-child(11) {
	background:#f00;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skillbar section:nth-child(3):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skillbar section:nth-child(3):hover li:nth-child(10) {background:#f00;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skillbar section:nth-child(3):hover li:nth-child(9) {background:#f00;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skillbar section:nth-child(3):hover li:nth-child(8) {background:#f00;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skillbar section:nth-child(3):hover li:nth-child(7) {background:#f00;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skillbar section:nth-child(3):hover li:nth-child(6) {background:#f00;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}
.skillbar section:nth-child(3):hover li:nth-child(5) {background:#f00;-webkit-transition:all 3s ease;-moz-transition:all 3s ease;transition:all 3s ease;}
.skillbar section:nth-child(3):hover li:nth-child(4) {background:#f00;-webkit-transition:all 3.5s ease;-moz-transition:all 3.5s ease;transition:all 3.5s ease;}
.skillbar section:nth-child(3):hover li:nth-child(3) {background:#f00;-webkit-transition:all 4s ease;-moz-transition:all 4.5s ease;transition:all 4.5s ease;}
.skillbar section:nth-child(3):hover li:nth-child(2) {background:#f00;-webkit-transition:all 5s ease;-moz-transition:all 5s ease;transition:all 5s ease;}

.skillbar section:nth-child(4):hover li:nth-child(11) {
	background:#027844;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skillbar section:nth-child(4):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skillbar section:nth-child(4):hover li:nth-child(10) {background:#027844;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skillbar section:nth-child(4):hover li:nth-child(9) {background:#027844;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skillbar section:nth-child(4):hover li:nth-child(8) {background:#027844;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skillbar section:nth-child(4):hover li:nth-child(7) {background:#027844;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skillbar section:nth-child(4):hover li:nth-child(6) {background:#027844;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}